@charset "utf-8";
@font-face {
  font-family: SamyangNeo;
  src: url(../webfonts/SamyangNeo-Regular.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: #fff; */
}
body {
  font-family: "Pretendard", "SamyangNeo", "Malgun Gothic", Helvetica, Arial,
    sans-serif;
  color: #666;
  font-weight: 400;
  line-height: 1;
  /* -webkit-text-size-adjust: none; */
}

/* header */
header {
  width: 100%;
  height: 90px;
  overflow: hidden;
  padding: 30px 0;
  box-sizing: border-box;
  transition: 0.5s;
}
header:hover {
  width: 100%;
  height: 380px;
}
.header_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
}
header .gnb > ul {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
header .gnb > ul.on {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .gnb > ul .one_dep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  padding-right: 20px;
  transition: 0.5s;
}
header .gnb > ul.on .one_dep {
  padding-right: 50px;
}
header .gnb > ul > .one_dep > a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  color: #fff;
}
header .gnb > ul.on > .one_dep > a {
  display: block;
  font-size: 20px;
  color: #444;
}
header .gnb > ul.on > .one_dep > a:hover {
  color: #26247b;
}
header .gnb > ul .one_dep > a::after {
  display: block;
  position: absolute;
  top: 5%;
  left: 100%;
  width: 1px;
  height: 24px;
  content: "";
  transform: translateY(-50%) rotate(24deg);
  background-color: #fff;
  /* background-color: #d1d3d4; */
}
header .gnb > ul.on .one_dep > a::after {
  background-color: #d1d3d4;
}
header .gnb > ul .one_dep:last-child > a::after {
  display: none;
}
header .gnb > ul .one_dep .sub_gnb {
  height: 200px;
  padding-top: 10px;
}
header .gnb > ul .one_dep .sub_gnb .two_dep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
header:hover .gnb > ul .one_dep .sub_gnb .two_dep li a {
  color: #444;
}
header .gnb > ul .one_dep .sub_gnb .two_dep li a:hover {
  color: #26247b;
  font-weight: bold;
}
header .logo {
  position: relative;
}
header .logo img:nth-child(2) {
  display: none;
}
header .navright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
header .navright .up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .navright .up a {
  color: #fff;
}
header:hover .navright .up a {
  color: #939598;
}
header .navright .up a:nth-child(3) img:nth-child(2),
header .navright .up a:nth-child(4) img:nth-child(2) {
  display: none;
}
header:hover .navright .up a:nth-child(3) img:nth-child(2),
header:hover .navright .up a:nth-child(4) img:nth-child(2) {
  display: block;
}
header:hover .navright .up a:nth-child(3) img:nth-child(1),
header:hover .navright .up a:nth-child(4) img:nth-child(1) {
  display: none;
}

/* con */
.con {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.con video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.con .txt span {
  display: block;
}
.con .txt span:nth-child(1) {
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 1.1;
  font-family: "SamyangNeo", "Pretendard", "SamYang", sans-serif;
  color: #fff;
}
.con .txt span:nth-child(2) {
  font-size: 60px;
  letter-spacing: 0em;
  line-height: 1.1;
  font-family: "SamyangNeo", "Pretendard", "SamYang", sans-serif;
  color: #e4ff1a;
  text-align: right;
}
.con .txt span:nth-child(3) {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 1.1;
  font-family: "SamyangNeo", "Pretendard", "SamYang", sans-serif;
  color: #ffffff;
  text-align: right;
}

/* con2 */
.con2 {
  width: 100%;
  padding: 180px 10px;
  box-sizing: border-box;
  margin-top: 800px;
}
.con2 p {
  text-align: center;
  font: 50px SamyangNeo;
  color: #26247b;
}
.con2 p span {
  color: #6eeb83;
}
.con2 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font: 17px SamyangNeo;
  color: #000;
  padding: 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.con2 a img {
  vertical-align: middle;
}

/* con3 */
.con3 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.con3 .imgWrap {
  width: 100%;
  height: 100%;
}
.con3 .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.con3 .mask,
.con3 .bg {
  width: 100%;
  position: absolute;
  transition: 0.5s;
}
.con3 .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con3 ul {
  width: 1210px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.con3 ul li {
  width: 100%;
  padding: 10px 0;
}
.con3 ul li a {
  width: 100%;
  display: block;
  font-size: 45px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.con3 ul li a:hover {
  color: #6eeb83;
}
.con3 ul li a img:nth-child(2),
.con3 ul li a:hover img:nth-child(1) {
  display: none;
}
.con3 ul li a:hover img:nth-child(2) {
  display: block;
}
.con3 ul li a:hover:after {
  content: "";
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #6eeb83;
}

.con4 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con4 ul {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con4 ul li {
  width: 50%;
  height: 550px;
  position: relative;
}
.con4 ul li:hover a > img {
  transform: scale(1.1);
}
.con4 ul li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.con4 ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.con4 ul li a .txt {
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.con4 ul li a .txt h5 {
  font-size: 20px;
}
.con4 ul li a .txt p:nth-child(2) {
  font-size: 32px;
}
.con4 ul li a .txt p:nth-child(3) {
  width: 32px;
  height: 32px;
  padding-top: 20px;
  transition: 0.5s;
  transform: scaleY(0);
  transform-origin: bottom;
}
.con4 ul li:hover a .txt p:nth-child(3) {
  transform: scaleY(1);
}
.con4 ul li a .txt p:nth-child(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con5 {
  width: 100%;
  height: 380px;
}
.con5 p {
  width: 100%;
  height: 100%;
}
.con5 p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
